/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .toggle-button {
    background-color: #444;
    margin: 10px 0px 0px 0px;
    border: 1px solid white;
    border-radius: 10%;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
  }
  
  .content {
    padding: 20px;
    color: white;
  }
  